<?xml version="1.0"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!--*************************华丽的分割符*************************-->
  <!--应用程序域启动时邮件通知-->
  <add key="DomainStartToNotice" value="0" />
  <add key="LoginDesKey" value="kai10!.k" />
  <add key="Emailor" value="postmaster@baixiaotangtop.com|Poiuy95187" />
  <add key="EmailHost" value="smtp.mxhichina.com" />
  <!--是否需要填写强制问卷 1强制 0不强制-->
  <add key="MustWriteLog" value="0" />
  <!--在线客服QQ-->
  <add key="KeFu_QQ" value="2961816133,1756139811" />
  <!--微信二维码-->
  <add key="KeFu_QRCode" value="/Content/KeFu/201805302102000100_10006.jpg,/Content/KeFu/201805302108458954_10006.jpg" />
  <add key="DIY1" value="联系QQ" />
  <add key="DIY2" value="咨询课程" />
  <add key="DIY3" value="可接受费用" />
  <!--高分贴标准-->
  <add key="HigeScoreFlag" value="40"/>
  <!--自动审核帖子/文章所需积分-->
  <add key="AutoCheck_NeedScore" value="10000" />
  <!--积分大于多少时，帖子/文章要审核-->
  <add key="MustCheckByScore" value="1000" />
  <!--签到赠送积分-->
  <add key="signScore" value="10" />
  <!--注册赠送积分-->
  <add key="RegistScore" value="100" />
  <!--文章和贴吧 主动 点赞赠送积分-->
  <add key="Prise" value="5" />
  <!--文章和贴吧 被 点赞赠送积分-->
  <add key="PriseFor" value="10" />
  <!--允许有新动态,邮件通知关注者-->
  <add key="EmailNotice" value="false" />
  <!--积分兑换vip分比例(1vip积分=多少积分)-->
  <add key="scoreChangeToVipScore" value="10" />
  <!--vip分充值比例（1元钱=多少vip积分）-->
  <add key="vipScorePayByRMB" value="5" />
  <!--购买一个月VIP专属会员所需积分-->
  <add key="BuyVIPFeeCount" value="5000"/>
  <!--展示广告数量-->
  <add key="ADCount" value="5" />
  <!--允许上传的文件类型-->
  <add key="AllowUploadFileType" value="jpg,png,gif,jpeg" />
  <!--新闻明细页-->
  <add key="NewsDetail" value="/News/Detail/{0}" />
  <!--招聘明细页-->
  <add key="ZhaoPinDetail" value="/ZhaoPin/Detail/{0}" />
  <!--求职明细页-->
  <add key="QiuZhiDetail" value="/QiuZhi/Detail/{0}" />
  <!--产品服务明细页-->
  <add key="ProductDetail" value="/Product/Detail/{0}" />
  <!--活动明细页-->
  <add key="PartyDetail" value="/Party/Detail/{0}" />
  <!--发布招聘所需vip分-->
  <add key="PUBLISH_ZHAOPIN" value="5" />
  <!--发布求职所需vip分-->
  <add key="PUBLISH_QIUZHI" value="5" />
  <!--发布产品服务所需vip分-->
  <add key="PUBLISH_PRODUCT" value="5" />
  <!--VIP分查看招聘联系方式-->
  <add key="FeeHRZhaoPinValue" value="24" />
  <!--VIP分查看求职联系方式-->
  <add key="FeeHRQiuZhiValue" value="20" />
  <!--VIP分查看产品联系方式-->
  <add key="FeeHRProductValue" value="20" />
  <!--<add key="AliPayNotify" value="http://staton.free.ngrok.cc/Pay/AliPayNotify" />-->
  <add key="AliPayNotify" value="www.baixiaotangtop.com/Pay/AliPayNotify" />
  <add key="AliPayNotify_PublishZhaoPin" value="http://www.baixiaotangtop.com/Pay/AliPayNotifyZhaoPin" />
  <add key="AliPayNotify_PublishQiuZhi" value="http://www.baixiaotangtop.com/Pay/AliPayNotifyQiuZhi" />
  <add key="AliPayNotify_PublishProduct" value="http://www.baixiaotangtop.com/Pay/AliPayNotifyProduct" />
  <!--认证相关-->
  <add key="UserAuth1" value="红人认证" />
  <add key="UserAuth2" value="牛人认证" />
  <add key="UserAuth3" value="法人认证" />

  <!--是否开启第三方登录-->
  <add key="OpenOAuth" value="0"/>

  <add key="WeiXin.AppID" value="wx5c3c01e9240fd9b0"/>
  <add key="WeiXin.AppKey" value="6d1a1a26f15450f9e05850f13a7fd103"/>
  <!--<add key="WeiXin.CallBackUrl" value="http://staton.free.ngrok.cc/Account/WxAuth"/>-->
  <add key="WeiXin.CallBackUrl" value="http://www.baixiaotangtop.com/Account/WxAuth"/>
</appSettings>