<!--<?xml version="1.0"?>-->
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!--*************************华丽的分割符*************************-->
  <add key="CommandTimeout" value="120"/>
  <!--开启全局功能-->
  <add key="OpenGlobalRun" value="false" />
  <!--红人榜前20名-->
  <add key="HotUsersCount" value="20" />
  <!--几天内的算新人-->
  <add key="NewUsersDays" value="7" />
  <!--百晓堂首页显示帖子数量/分页、每页10条-->
  <add key="HomeListCount" value="100" />
  <!--应用程序域启动时邮件通知-->
  <add key="DomainStartToNotice" value="0" />
  <add key="LoginDesKey" value="kai10!.k" />
  <add key="Emailor" value="postmaster@baixiaotangtop.com|Poiuy95187" />
  <add key="EmailHost" value="smtp.mxhichina.com" />
  <!--是否需要填写强制问卷 1强制 0不强制-->
  <add key="MustWriteLog" value="1" />
  <add key="DIY1" value="联系QQ" />
  <add key="DIY2" value="咨询课程" />
  <add key="DIY3" value="可接受费用" />
  <!--高分贴标准-->
  <add key="HigeScoreFlag" value="40" />
  <!--自动审核帖子/文章所需积分-->
  <add key="AutoCheck_NeedScore" value="100" />
  <!--积分大于多少时，帖子要审核-->
  <add key="MustCheckByScore" value="300" />
  <!--签到随机赠送积分-->
  <add key="signconfig" value="|sign|2$sign$10$sign$恭喜，您今天成功签到获取10分！请明天再接再厉！&lt;a href='http://baixiaotangtop.com/bbs/detail/10181' target='_blank'&gt;签到福利指引&lt;/a&gt;|sign|4$sign$25$sign$恭喜，您获得高分25分！请明天再接再厉！&lt;a href='http://baixiaotangtop.com/bbs/detail/10181' target='_blank'&gt;签到福利指引&lt;/a&gt;|sign|5$sign$30$sign$恭喜，人气很旺，高中30分！请明天再接再厉！&lt;a href=&quot;http://baixiaotangtop.com/bbs/detail/10181&quot; target=&quot;_blank&quot;&gt;签到福利指引&lt;/a&gt;|sign|6$sign$40$sign$恭喜，人品大爆发获得40分！请明天再接再厉！&lt;a href='http://baixiaotangtop.com/bbs/detail/10181' target='_blank'&gt;签到福利指引&lt;/a&gt;" />
  <!--注册赠送积分-->
  <add key="RegistScore" value="100" />
  <!--文章和贴吧 主动 点赞赠送积分-->
  <add key="Prise" value="50" />
  <!--文章和贴吧 被 点赞赠送积分-->
  <add key="PriseFor" value="10" />
  <!--积分兑换vip分比例(1VIP分=多少积分)-->
  <add key="scoreChangeToVipScore" value="10" />
  <!--vip分充值比例（1元钱=多少VIP分）-->
  <add key="vipScorePayByRMB" value="5" />
  <!--购买一个月VIP专属会员所需VIP分-->
  <add key="BuyVIPFeeCount" value="499" />
  <!--展示广告数量-->
  <add key="ADCount" value="5" />
  <!--允许上传的文件类型-->
  <add key="AllowUploadFileType" value="jpg,png,gif,jpeg" />
  <!--上传文件（图片）最大M-->
  <add key="UploadFileMax" value="1" />
  <!--新闻明细页-->
  <add key="NewsDetail" value="/news/detail/{0}" />
  <!--招聘明细页-->
  <add key="ZhaoPinDetail" value="/zhaopin/detail/{0}" />
  <!--求职明细页-->
  <add key="QiuZhiDetail" value="/qiuzhi/detail/{0}" />
  <!--产品服务明细页-->
  <add key="ProductDetail" value="/product/detail/{0}" />
  <!--活动明细页-->
  <add key="PartyDetail" value="/party/detail/{0}" />
  <!--帖子明细页-->
  <add key="BBSDetail" value="/bbs/detail/{0}" />
  <!--文章明细页-->
  <add key="ArticleDetail" value="/article/detail/{0}" />
  <!--礼物/数据/课程明细页-->
  <add key="GiftDetail" value="/gift/detail/{0}" />
  <!--发布招聘所需vip分-->
  <add key="PUBLISH_ZHAOPIN" value="5" />
  <!--发布求职所需vip分-->
  <add key="PUBLISH_QIUZHI" value="5" />
  <!--发布产品服务所需vip分-->
  <add key="PUBLISH_PRODUCT" value="5" />
  <!--VIP分查看招聘联系方式-->
  <add key="FeeHRZhaoPinValue" value="5" />
  <!--VIP分查看求职联系方式-->
  <add key="FeeHRQiuZhiValue" value="5" />
  <!--VIP分查看产品联系方式-->
  <add key="FeeHRProductValue" value="20" />
  <add key="AliPayNotify" value="www.baixiaotangtop.com/Pay/AliPayNotify" />
  <add key="AliPayNotify_PublishZhaoPin" value="http://www.baixiaotangtop.com/Pay/AliPayNotifyZhaoPin" />
  <add key="AliPayNotify_PublishQiuZhi" value="http://www.baixiaotangtop.com/Pay/AliPayNotifyQiuZhi" />
  <add key="AliPayNotify_PublishProduct" value="http://www.baixiaotangtop.com/Pay/AliPayNotifyProduct" />
  <!--认证相关-->
  <add key="UserAuth1" value="红人认证" />
  <add key="UserAuth2" value="牛人认证" />
  <add key="UserAuth3" value="法人认证" />
  <!--是否开启第三方登录-->
  <add key="OpenOAuth" value="1" />
  <add key="WeiXin.AppID" value="wx5c3c01e9240fd9b0" />
  <add key="WeiXin.AppKey" value="6d1a1a26f15450f9e05850f13a7fd103" />
  <!--<add key="WeiXin.CallBackUrl" value="http://www.baixiaotangtop.com/Account/WxAuth" />-->
  <add key="WeiXin.CallBackUrl" value="http://staton.free.ngrok.cc/Account/WxAuth" />
  <add key="QQ.AppID" value="101475055" />
  <add key="QQ.AppKey" value="081fa61c93b2bc99cbf8195201ea70ad" />
  <add key="QQ.CallBackUrl" value="http://www.baixiaotangtop.com/Account/Auth2" />
  <!--<add key="QQ.CallBackUrl" value="http://staton.free.ngrok.cc/Account/Auth2"/>-->
  <add key="FindPwdMsg" value="百晓堂官方:尊敬的用户，系统已帮您找回您的密码[{0}]，请牢记！不要告诉任何人！" />
  <!--每天最大发送消息数-->
  <add key="SendMsgCount" value="10" />
  <!--异步处理通知-->
  <add key="OpenAsync" value="false" />
  <!--允许有新动态,邮件通知关注者-->
  <add key="EmailNotice" value="false" />
  <!--允许有新动态,站内信通知关注者-->
  <add key="SystemNotice" value="true" />
  <add key="New_Add_Notice" value="{5}发布通知|您关注的用户&lt;a href='{0}/user/detail/{1}' target='_blank' style='color:red;'&gt;{2}&lt;/a&gt;发表了{5}&lt;a href='{0}{3}' target='_blank' style='color:blue;'&gt;《{4}》&lt;/a&gt;！" />
  <add key="onComment_Notice_Author" value="新评论提醒-{0}|用户&lt;a href='{1}/user/detail/{2}' target='_blank' style='color:red;'&gt;{3}&lt;/a&gt;对您的{0}&lt;a href='{4}' target='_blank' style='color:green;'&gt;《{5}》&lt;/a&gt;发表了评论：&lt;span style='color:green;display:inline-block;'&gt;{6}&lt;/span&gt;" />
  <add key="onComment_Notice_Liker" value="新评论提醒-{1}|用户&lt;a href='{5}/user/detail/{6}' target='_blank' style='color:red;'&gt;{0}&lt;/a&gt;对您关注的{1}&lt;a href='{2}' target='_blank' style='color:blue;'&gt;《{3}》&lt;/a&gt;发表了评论：&lt;span style='color:green;display:inline-block;'&gt;{4}&lt;/span&gt;" />
  <add key="onComment_Notice_CommentUser_Liker" value="新评论提醒-{1}-{0}|您关注的用户&lt;a href='{5}/user/detail/{6}' target='_blank' style='color:red;'&gt;{0}&lt;/a&gt;对{1}&lt;a href='{2}' target='_blank' style='color:blue;'&gt;《{3}》&lt;/a&gt;发表了评论：&lt;span style='color:green;display:inline-block;'&gt;{4}&lt;/span&gt;" />
  <add key="onPrise_Main_Notice_Author" value="被点赞通知|用户&lt;a href='{0}/user/detail/{5}' target='_blank' style='color:red;'&gt;{1}&lt;/a&gt;对您的{2}&lt;a href='{4}' style='color:blue;'&gt;《{3}》&lt;/a&gt;点了个赞！nice~~" />
  <add key="onPrise_Comment_Notice_Author" value="被点赞通知|用户&lt;a href='{0}/user/detail/{1}' target='_blank' style='color:red;'&gt;{2}&lt;/a&gt;对您在{3}&lt;a href='{4}' target='_blank' style='color:blue;'&gt;《{5}》&lt;/a&gt;的留言&lt;span style='color:green;display:inline-block;'&gt;{6}&lt;/span&gt;点了个赞！nice~~" />
  <add key="onReply_Notice" value="新回复通知|您在&lt;a href='{0}' target='_blank' style='color:blue;'&gt;{1}&lt;/a&gt;的评论，用户&lt;a href='{2}/user/detail/{3}' target='_blank' style='color:red;'&gt;{4}&lt;/a&gt;回复了您：&lt;span style='color:green;display:inline-block;'&gt;{5}&lt;/span&gt;" />
  <add key="onLikeUser_Notice" value="被用户关注通知|用户&lt;a href='{0}/user/detail/{1}' target='_blank' style='color:red;'&gt;{2}&lt;/a&gt;关注了您对方以后能及时收到您的相关动态！" />
  <add key="onInviteInterview_Notice_Author" value="面试邀约通知|&lt;a href='{7}/user/detail/{0}' target='_blank'&gt;{0}&lt;/a&gt;在您的求职贴&lt;a href='{7}/qiuzhi/detail/{1}' target='_blank' style='color:red;'&gt;《{2}》&lt;/a&gt;中，邀请您面试&lt;a href='{7}/zhaopin/detail/{3}' target='_blank' style='color:blue;'&gt;《{4}》&lt;/a&gt;：&lt;br&gt;面试时间：{5}&lt;br&gt;面试地点：{6}" />
  <add key="OnOrderBuyProduct_Notice_Saler" value="预约购买通知|尊敬的{1}，您好！&lt;br&gt;买家&lt;a href='{0}/user/detail/{2}' target='_blank' style='color:blue;'&gt;{2}&lt;/a&gt;向您发送了一个预约购买请求，他想购买您的产品&lt;a href='{0}/product/detail/{3}' target='_blank' style='color:red;'&gt;《{4}》&lt;/a&gt;，您可以打开他的个人中心进行私聊！" />
  <add key="OnSendCV_Notice_Company" value="收到新简历通知|尊敬的{1}，您好！&lt;br&gt;&lt;a href='{0}/user/detail/{2}' target='_blank'&gt;{2}&lt;/a&gt;在您的招聘职位&lt;a href='{0}/zhaopin/detail/{3}' target='_blank' style='color:blue;'&gt;《{4}》&lt;/a&gt;里投递了简历！&lt;br&gt;投递时间：{5}&lt;br&gt;简历下载地址：&lt;a href='{0}/zhaopin/Download/{3}?uid={6}' style='color:red;'&gt;点击下载简历&lt;/a&gt;" />
  <add key="OnSign_Notice_User" value="签到成功提醒|尊敬的{0}，您好！&lt;br&gt;每日签到赠送{1}积分已到账！请再接再厉！" />
  <add key="OnBestAnswer_Notice_Author" value="最佳回答通知|尊敬的{0}，您好！&lt;br&gt;您在帖子&lt;a href='{1}/Question/detail/{2}' target='_blank' style='color:red;'&gt;{3}&lt;/a&gt;的回答被楼主&lt;a href='{1}/user/detail/{4}' target='_blank' style='color:blue;'&gt;{4}&lt;/a&gt;采纳为最佳回答，{5}请再接再厉！" />
  <add key="OnLikeItem_Notice_User" value="被用户关注通知|尊敬的{0}，您好&lt;br&gt;&lt;a href='{1}/user/detail/{2}' target='_blank' style='color:red;'&gt;{2}&lt;/a&gt;刚刚关注了您的{5}&lt;a href='{3}' target='_blank' style='color:blue;'&gt;《{4}》&lt;/a&gt;！" />
  <add key="OnPayVIPScoreSuccess_Notice_User" value="VIP分充值成功通知|尊敬的{0}，您好！&lt;br&gt;您在{1}充值的{2}VIP分已成功到账！" />
  <add key="OnPayPublish_Notice_Author" value="发布{4}成功通知|尊敬的{0}，您好！&lt;br&gt;恭喜您于{5}成功支付{1}发布{4}信息&lt;a href='{2}' target='_blank' style='color:blue;' &gt;《{3}》&lt;/a&gt;！" />
  <add key="OnShareRegistSuccess_Notice_Sharer" value="分享用户注册通知|尊敬的{0}，您好！&lt;br&gt;&lt;a href='{1}/user/detail/{2}' target='_blank' style='color:red;'&gt;{2}&lt;/a&gt;于{3}成功通过您的分享链接注册百晓堂网站用户，请前往&lt;a href='{1}/User/MyShare' target='_blank' style='color:blue;'&gt;我的分享&lt;/a&gt;查看分享奖励是否达标！" />
  <!--首页轮播图片切换时间间隔-->
  <add key="slideChangeTime" value="3000" />
  <!--用户每个自然月可以创建标签数-->
  <add key="UserAddTagCount" value="3" />
  <!--用户自由编辑帖子次数-->
  <add key="UserEditCount" value="3" />
  <!--7天内的算新贴-->
  <add key="NewTieZiDays" value="7" />
  <!--
  1 置顶
  2 热门
  3 精华
  4 浏览量
  5 创建时间-->
  <!--首页排序-综合-->
  <add key="HomeSortConfig-Sort_Default" value="1+5+2" />
  <!--首页排序-热门-->
  <add key="HomeSortConfig-Sort_Hot" value="4+6" />
  <!--首页排序-精华-->
  <add key="HomeSortConfig-Sort_JinHua" value="1+3+4+5+6" />
  <!--首页排序-置顶-->
  <add key="HomeSortConfig-Sort_Top" value="4+2" />
  <!--首页标签固定个数-->
  <add key="TagFixedNumber" value="8" />
  <!--首页标签随机展示个数-->
  <add key="TagRandomNumber" value="12" />
  <!--首页右侧公告显示条数-->
  <add key="NewShowCount" value="5" />
  <!--全局搜索需要登录-->
  <add key="searchNeedLogin" value="false" />
  <add key="BaseUrl" value="http://localhost:4144" />
  <!--发贴 +10分-->
  <add key="addQuestion" value="10" />
  <!--发文章 +10分-->
  <add key="addArticle" value="10" />
  <!--回贴 +5分-->
  <add key="commentQuestion" value="5" />
  <!--回文章 +5分-->
  <add key="commentArticle" value="5" />
  <!--每天 点赞、回帖 加分次数上限-->
  <add key="DayInAddScoreCount" value="5" />
  <add key="OnPublish_BBS_Article_AddScore_Notice_Author" value="积分到账通知|尊敬的{0}，您好！&lt;br&gt;您刚刚发布了新{1}，系统自动赠送您{2}积分，现已到账，请查收！" />
  <add key="OnComment_BBS_Article_AddScore_Notice_Commenter" value="积分到账通知|尊敬的{0}，您好！&lt;br&gt;您刚刚评论了{1}，系统自动赠送您{2}积分，现已到账，请查收！" />
  <add key="OnLeaveWord_Notice_Master" value="新留言通知|尊敬的网站管理员，您好！&lt;br&gt;网站有新用户留言啦！&lt;br&gt;留言内容：&lt;br&gt;&lt;table border='1' cellspacing='0' cellpadding='10'&gt;&lt;tr&gt;&lt;td&gt;{0}&lt;/td&gt;&lt;td&gt;{1}&lt;/td&gt;&lt;td&gt;{2}&lt;/td&gt;&lt;td&gt;{3}&lt;/td&gt;&lt;td&gt;{4}&lt;/td&gt;&lt;td&gt;{5}&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;&lt;br&gt;详情请&lt;a href='/console/leaveword' target='_blank'&gt;查看&lt;/a&gt;" />
  <add key="OnAgainst_Main_Notice_Author" value="被反对通知|用户&lt;a href='{0}/user/detail/{5}' target='_blank' style='color:red;'&gt;{1}&lt;/a&gt;对您的{2}&lt;a href='{4}' style='color:blue;'&gt;《{3}》&lt;/a&gt;不认可~~" />
  <add key="OnAgainst_Comment_Notice_Author" value="被反对通知|用户&lt;a href='{0}/user/detail/{1}' target='_blank' style='color:red;'&gt;{2}&lt;/a&gt;对您在{3}&lt;a href='{4}' target='_blank' style='color:blue;'&gt;《{5}》&lt;/a&gt;的留言&lt;span style='color:green;display:inline-block;'&gt;{6}&lt;/span&gt;不认可~~" />
  <add key="OnReport_Main_Notice_Master" value="举报通知|管理员你好，用户 &lt;a href='/user/detail/{0}' target='_blank'&gt;{1}&lt;/a&gt; 举报了 &lt;a href='/user/detail/{2}'&gt;{3}&lt;/a&gt; 发表的 {4} 《&lt;a href='{5}'&gt;{6}&lt;/a&gt;》&lt;br/&gt;举报理由：{7}" />
  <add key="OnReport_Comment_Notice_Master" value="举报通知|管理员你好，用户 &lt;a href='/user/detail/{0}' target='_blank'&gt;{1}&lt;/a&gt; 举报了 &lt;a href='/user/detail/{2}' target='_blank'&gt;{3}&lt;/a&gt; 在 《&lt;a href='{4}' target='_blank' &gt;{5}&lt;/a&gt;》发表的评论 {6} &lt;br/&gt;举报理由：{7}" />
  <!--礼物页面排序规则-->
  <add key="SortConfig_Gift" value="4+6" />
  <!--数据页面排序规则-->
  <add key="SortConfig_Data" value="4+5+6" />
  <!--课程页面排序规则-->
  <add key="SortConfig_KeCheng" value="" />
  <!--普通用户查看 other 版块 所需积分-->
  <add key="normalUserSee_Score" value="50" />
  <add key="OnUserBuySuccess_Notice_Master" value="待发货通知|管理员你好，用户 &lt;a href='/user/detail/{0}' target='_blank'&gt;{1}&lt;/a&gt; 购买了 &lt;a href='{2}' target='_blank'&gt;{3}&lt;/a&gt; ，请尽快安排发货，谢谢！" />
  <add key="OnUserBuy_Content_Success_For_BBS_Arcitle_Notice_Buyer" value="消耗积分购买帖子内容通知|尊敬的用户您好，您在 {0} 花费 {1} 成功购买《&lt;a href='{2}' target='_blank' style='color:red;'&gt;{3}&lt;/a&gt;》内容，已成功扣除 {1}。" />
  <add key="OnUserBuy_Content_Success_For_BBS_Arcitle_Notice_Author" value="用户购买帖子内容通知|尊敬的作者您好， &lt;a href='/user/detail/{0}' target='_blank' style='color:red;'&gt;{1}&lt;/a&gt; 在 {2} 购买您的《&lt;a href='{3}' target='_blank' style='color:red;'&gt;{4}&lt;/a&gt;》内容，{5} 已到账，请注意查看。" />
  <add key="On_BBS_Article_Publish_Success_Notice_Publisher" value="待审核通知|尊敬的用户您好，刚刚您{2}《&lt;a href='{0}' target='_blank' style='color:red;'&gt;{1}&lt;/a&gt;》已经在审核中，待网站管理员审核通过后即可正常浏览，请注意通知信息。" />
  <add key="On_BBS_Article_Publish_Success_Notice_Master" value="待审核通知|网站管理员您好，网站活跃用户&lt;a href='/user/detail/{0}' target='_blank' style='color:red;'&gt;{1}&lt;/a&gt;{2}《&lt;a href='{3}' target='_blank' style='color:blue;'&gt;{4}&lt;/a&gt;》待审核，请及时跟进！&lt;a href='/console/checknote' target='_blank' style='color:red;font-weight: bold;font-size: 18px;border: 1px solid red;padding: 5px 10px;'&gt;前往审核&lt;/a&gt;" />
  <add key="On_Check_Handled_Notice_Publisher" value="审核结果通知|尊敬的用户您好，网站管理员于{0}对您发布的{1}《&lt;a href='{2}' target='_blank' style='color:red;'&gt;{3}&lt;/a&gt;》进行了审核操作，结果：&lt;span style='color:red;'&gt;{4}&lt;/span&gt;！" />
  <add key="OnGiveScoreSuccess_Notice_Root" value="管理员赠送积分通知|网站管理员 &lt;a href='/user/detail/{0}' target='_blank' style='color:red;'&gt;{1}&lt;/a&gt; 于 {2} 赠送 &lt;a href='/user/detail/{3}' target='_blank' style='color:red;'&gt;{4}&lt;/a&gt; {5} {6} 。" />
  <add key="OnGiveScoreSuccess_Notice_User" value="管理员赠送积分通知|尊敬的用户您好，网站管理员于 {0} 赠送您 {1} {2} 。" />
  <add key="On_NewUser_Sign_Enough_Notice_User" value="月连续签到赠积分通知|尊敬的用户您好，本月您在{0}已连续签到满{1}次，系统自动赠送您{2}积分，请加油，月连续签到次数越多更多积分等着你。" />
  <add key="On_OldUser_Sign_Enough_Notice_User" value="月累计签到赠积分通知|尊敬的用户您好，本月您在{0}已累计签到满{1}次，系统自动赠送您{2}积分，请加油，月累计签到次数越多更多积分等着你。" />
  <!--普通管理员每个月最多给用户赠送多少积分-->
  <add key="normalMasterGiveUserMAXScore" value="1000" />
  <!--普通管理员每个月最多给用户赠送多少VIP积分-->
  <add key="normalMasterGiveUserMAXVIPScore" value="200" />
  <!--首页滚屏公告切换时间间隔-->
  <add key="scrollNoticeChangeTime" value="3000" />
  <add key="scoreName_levelName_desc_url" value="http://www.baixiaotangtop.com/bbs/detail/11299" />
  <!--新用户-连续签到满3次赠送积分-->
  <add key="new_user_continu_SignCount3" value="0" />
  <!--新用户-连续签到满10次赠送积分-->
  <add key="new_user_continu_SignCount10" value="0" />
  <!--老用户-累计签到满3次赠送积分-->
  <add key="old_user_total_SignCount3" value="0" />
  <!--老用户-累计签到满10次赠送积分-->
  <add key="old_user_total_SignCount10" value="0" />
  <!--老用户-累计签到满20次赠送积分-->
  <add key="old_user_total_SignCount20" value="0" />
</appSettings>