
@{
    ViewBag.Title = "后台管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-2">
        @Html.Partial("_ConsoleMenu")
    </div>
    <div class="col-md-10">
        <div class="well">
            <h5>欢迎你来到管理控制台！</h5>
            <h5>在这里，你可以进行网站的基本配置！</h5>
            <h5>点击左侧菜单进行相应模块的设置和编辑！</h5>
        </div>
    </div>
</div>
